@import "./constant";

#tweet-error-container {
  @include flexCenter();

  margin-top: 5%;
}

#tweet-error-container>h3 {
  font-style: oblique;
  color: $keywordRed;
  font-size: 1.25rem;
}

i.fa-triangle-exclamation {
  color: $keywordRed;
  padding: 0px 30px;
  animation: flash 1s linear infinite;
  transition: all 0.5s linear infinite;
}

@keyframes flash {
  0% {
    color: $errorFlashColor;
  }

  50% {
    color: $keywordRed;
  }

  100% {
    color: $errorFlashColor
  }
}