@import "./constant";

#main-footer {
  transition: all 0.5s linear;
  display: flex;
}

#main-footer.hidden {
  opacity: 0;
  visibility: hidden;
  cursor: none;
}

#main-footer>.scroll-top-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 100%;
  background-color: $keywordRed;
  color: $fontTextWhite;
  border: none;
}

#main-footer>.scroll-top-btn:hover {
  cursor: pointer;
  animation: moveArrow 3s ease-in-out infinite;
  transition: ease-in-out 0.2s infinite;
}

@keyframes moveArrow {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}