@import "./constant";

section {
  &.new-tweet {
    width: 100%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 0 0 15px 0px rgb(161, 143, 143);

  }

  form {
    display: flex;
    flex-direction: column;
    padding: .5em;
  }
}

label {
  font-weight: 600;
  font-style: normal;
  text-align: start;
}

#tweet-text,
.new-tweet-btn {
  transition: all 0.5s;
}

#tweet-text {
  @include flexOptions(center, unset);

  border: none;
  width: 100%;
  height: 6rem;
  padding: 0;
  resize: none;
  background-color: transparent;
  border-bottom: 5px solid black;
  border-radius: 5px;
}

#tweet-text:focus {
  outline: $navBGColor;
  border-radius: 5px;
  box-shadow: 0 0 25px 1px #b8c4ef;
}

.new-tweet-btn {
  font-family: $secondaryFont;
  background-color: $navBGColor;
  color: $fontTextWhite;
  border-radius: 5px;
}

.new-tweet-btn:hover {
  color: $keywordRed;
  border-radius: 5px;
  box-shadow: 0 0 15px 1px #b8c4ef;
  cursor: pointer;
}

.new-tweet-footer {
  @include flexOptions(space-between, unset);

  margin-top: 20px;
  font-family: $secondaryFont;
  flex-direction: row;
}

.counter.counter-below {
  color: $keywordRed;
}