.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  font-family: "Bungee", sans-serif;
  width: 100vw;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.25rem;
  z-index: 100;
  transition: all 0.5s linear;
}

nav.hidden {
  background-color: transparent;
}

nav #nav-title {
  font-size: 2em;
}
nav #nav-title.hidden {
  text-shadow: 0 3px 20px rgb(128, 125, 125);
}
nav .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s linear;
}
nav .right.hidden {
  opacity: 0;
  visibility: hidden;
  cursor: none;
}

div.right .header-text-right {
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
}
div.right #toggle-new-tweet-btn {
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
div.right #toggle-new-tweet-btn:hover {
  cursor: pointer;
}
div.right #toggle-new-tweet-btn > i:hover::before {
  content: "\f103";
  transition: ease-out 0.2s linear 0s;
}
div.right #toggle-new-tweet-btn > i:hover {
  color: red;
  cursor: pointer;
  margin-bottom: 8px;
  transition: all 0.2s linear 0s;
  animation: bounce 3s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
