/* section.tweet-container {
  background-color: transparent;
  border: 5px solid black;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.tweet-container:hover {
  box-shadow: 10px 10px 0px 0px rgba(64,86,161,0.11);
} */

article {
  background-color: transparent;
  border: 5px solid black;
  width: 100%;
  margin-top: 5%;
  /* margin-bottom: 10%; */
}

article:hover {
  box-shadow: 10px 10px 0px 0px rgba(64,86,161,0.11);
}

article.tweet header {
  margin: 0;
  padding: 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figure {
  padding: 0;
  margin: 0;
  display: flex;
}

.user-icon {
  width: 2em;
}

figcaption {
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.tweet-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;  
}

.tweet-body-container p {
  justify-content: flex-start;
  width: 95%;
  margin: 0;
  padding: 2.5% 0;
  border-bottom: 5px solid black;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5%;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

i.fa-solid {
  padding: 0 5px;
  width: 1.25em;
}

i.fa-solid:hover {
  color: #BF9B49;
  cursor: pointer;
}

/* 

rule for playing with img tag and svg tag

.icon:hover {
  filter:
    invert(0.4) 
    sepia(1) 
    saturate(20) 
    hue-rotate(14.4deg)
    brightness(0.88);
  cursor: pointer;
  
} */

.footer-date {
  font-size: 0.5em;
}