article.tweet {
  background-color: transparent;
  border: 5px solid black;
  width: 100%;
  margin-top: 5%;
  overflow: hidden;
}

article.tweet:hover {
  box-shadow: 10px 10px 0px 0px rgba(64,86,161,0.11);
}

article.tweet header {
  margin: 0;
  padding: 2.5%;
  display: flex;
  flex: auto;
  justify-content: space-between;
  align-items: center;
}

figure {
  padding: 0;
  margin: 0;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
}

.user-icon {
  width: 2em;
}

figcaption {
  display: flex;
  align-items: center;
  padding-left: 5%;
}
header.tag {
  flex-wrap: wrap;
  overflow: hidden;
}

.tweet-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;  
}

.tweet-body-container p {
  justify-content: flex-start;
  width: 95%;
  margin: 0;
  padding: 2.5% 0;
  border-bottom: 5px solid black;
  font-size: 0.75em;
  overflow-wrap: break-word;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5%;
  margin-top: 0;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-icons .fa-solid {
  padding: 0 5px;
  width: 1.25em;
  color: #4056A1;
  transition: all 0.5s;

}

.social-icons .fa-solid:hover {
  color: #BF9B49;
  cursor: pointer;
}

/* 

rule for playing with img tag and svg tag removed for simplicity

.icon:hover {
  filter:
    invert(0.4) 
    sepia(1) 
    saturate(20) 
    hue-rotate(14.4deg)
    brightness(0.88);
  cursor: pointer;
  
} */

.footer-date {
  font-size: 0.85rem;
}